body {
	font-family: 'Work Sans', sans-serif;
	color: #1F3A58;
    font-size: 16px;
    line-height: 24px;
    background-color: #FFFFFD;
}

h1 {
	font-weight: 600;
	font-size: 26px;
	line-height: 30px;
    letter-spacing: .5px;
}

h2 {
    font-size: 18px;
    letter-spacing: .5px;
}

button {
    background-color: #51D6D0;
    border: 1px solid #51D6D0;
    color: white;
    padding: 12px 18px 14px;
    text-decoration: none;
    letter-spacing: .5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    transition: all .4s ease;
}

.row {
    display: inline-block;
}

button:hover {
    background-color: #2E4B6A;
    border: 1px solid #2E4B6A;
}

.logo {
    position: relative;
    top: 30px;
    left: 35px;
    width: 100px;
    height: 35px;
    background: url(../images/yello-wordmark.svg) center center;
    background-repeat: no-repeat;
    background-size: 100%;
}

.video {
    margin: 0 auto;
    width: 270px;
    height: 170px;
    background-color: #51D6D0;
    background: url(../images/lifestyle1.png) center center;
    background-size: 130%;
    background-repeat: no-repeat;
    background-position: 80% 30%;
    border-radius: 3px;
}

.video-play-icon {
    position: relative;
    top: 50px;
    width: 70px;
}

.app-icon {
	max-width: 80px; 
}

section.welcome {
	margin: 0 auto;
	max-width: 600px;
    padding: 120px 0;
	text-align: center;
}

.welcome p {
    margin-top: -15px;
}

.welcome button {
    margin-top: 15px;
}

.features-wrapper {
    max-width: 1100px;
    margin: 0 auto;
}

section.feature {
    padding: 100px 60px;
    border-top: 1px solid #DBDFE2;
}

.feature h2 {
    margin-top: 100px;
}

.use-case {
    font-style: italic;
    font-size: 13px;
    line-height: 21px;
    padding-top: 15px;
    padding-right: 100px;
    letter-spacing: .25px;
}

.call-out {
    font-weight: 600;
    color: #51D6D0;
}

.feature-image {
    height: 100%;
    width: 100%;
}

input[type=text], [type=email] {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    width: 250px;
    padding: 12px 14px 14px;
    margin: 4px;
    box-sizing: border-box;
    border-radius: 3px;
    border: 1px solid rgba(31, 58, 88, .2);
    font-size: 13px;
    color: #1F3A58;
}

input[type=text]:focus, [type=email]:focus {
    border: 1px solid rgba(31, 58, 88, .6);
    outline: none;
}

::-webkit-input-placeholder {
	color: rgba(31, 58, 88, .3);
}

input[type=submit], [type=button] {
	-webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    background-color: #51D6D0;
    border: 1px solid #51D6D0;
    color: white;
    padding: 12px 18px 14px;
    text-decoration: none;
    letter-spacing: .5px;
    margin: 4px;
    cursor: pointer;
    border-radius: 3px;
    font-weight: 600;
    font-size: 13px;
    transition: all .4s ease;
}

input[type=submit]:hover {
    background-color: #2E4B6A;
    border: 1px solid #2E4B6A;
}

section.newsletter {
    padding: 100px 80px 50px;
    border-top: 1px solid #DBDFE2;
    text-align: center;
}

.newsletter p {
	font-weight: 600;
}

.social ul {
    padding-left: 20px;
}

.social ul li {
    list-style: none;
    display: inline-block;
    padding: 10px;
    font-size: 18px;
    color: #959CA6;
}

.social i {
    color: #1F3A58;
}

.social i:hover {
    color: #51D6D0;
}

iframe#no-target {
    height: 0;
    width: 0;
    visibility: hidden;
}

footer {
    position: relative;
}

footer p {
	position: absolute;
	bottom: 14px;
	right: 20px;
	opacity: .40;
	font-size: 12px;
}

.hvr-grow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: transform;
  transition-property: transform;
}
.hvr-grow:hover, .hvr-grow:focus, .hvr-grow:active {
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.hvr-grow-shadow {
  display: inline-block;
  vertical-align: middle;
  -webkit-transform: translateZ(0);
  transform: translateZ(0);
  box-shadow: 0 0 1px rgba(0, 0, 0, 0);
  -webkit-backface-visibility: hidden;
  backface-visibility: hidden;
  -moz-osx-font-smoothing: grayscale;
  -webkit-transition-duration: 0.3s;
  transition-duration: 0.3s;
  -webkit-transition-property: box-shadow, transform;
  transition-property: box-shadow, transform;
}
.hvr-grow-shadow:hover, .hvr-grow-shadow:focus, .hvr-grow-shadow:active {
  box-shadow: 0 15px 15px -10px rgba(0, 0, 0, 0.15);
  -webkit-transform: scale(1.025);
  transform: scale(1.025);
}

.thanks {
    text-align: center;
}

.thanks h2 {
    margin-top: 100px;
    
}

/*@media queries*/

@media (max-width: 600px) {
    body {
        margin: 10px 20px 0;
    }
    .logo {
        left: calc(50% - 50px)
    }
    section.feature {
        padding: 100px 0;
    }
    .feature .words {
        padding: 0 20px;
    }
    .feature h2 {
        margin-top: 15px;
    }
    section.welcome {
        padding: 75px 30px 100px; 
    }
    section.newsletter {
        padding: 80px 40px 100px;
    }
	input[type=text], [type=email] {
	    width: 100%;
	}
	input[type=submit] {
		width: 100%;
	}
    .use-case {
        padding-right: 0;
    }
    .social ul {
        padding-left: 10px;
    }
    .row { display: flex; flex-flow: column; }
    .graphic { order: 1; }
    .text { order: 2; }
}

